NET clk LOC=P21;
//7-Segment segments
NET segments<6> LOC=P116; //A
NET segments<5> LOC=P114; //B
NET segments<4> LOC=P117; //C
NET segments<3> LOC=P118; //D
NET segments<2> LOC=P119; //E
NET segments<1> LOC=P121; //F
NET segments<0> LOC=P115; //G
//7-Segment selectors
NET segsel<3> LOC=P112; //Segment 0
NET segsel<2> LOC=P111; //Segment 1
NET segsel<1> LOC=P127; //Segment 2
NET segsel<0> LOC=P126; //Segment 3
//ps2 clock and data
NET ps2clk LOC=P24;
NET ps2data LOC=P26;